
notes/adjoint_wavelet_notes.aux
notes/adjoint_wavelet_notes.bbl
notes/adjoint_wavelet_notes.blg
notes/adjoint_wavelet_notes.log
notes/adjoint_wavelet_notes.out
notes/adjoint_wavelet_notes.pdf
notes/adjoint_wavelet_notes.toc

